<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PodsTest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>StaticLibTest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E5A3A3A5178DB7DB00DB4917</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E5A3A3D7178DB7DB00DB4917</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E5FD6DD01795B77500B34477</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E5FD6DDE1795B77500B34477</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
